.app {
  height: 100px;
  border: 1px solid red;
  overflow: auto;
}

.demo {
  height: 200px;
  border: 1px solid green;
}

.test {
  border: 1px solid blue;
}

.test2 {
  border: 1px solid blue;
}


.app2 {
  height: 1000px;
  border: 1px solid red;
  overflow: auto;
}